.Nav {
  display: none;
  width: 60%;
  height: 100%;
  background-color: white;
}

.NavList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.isMobile {
  display: block;
  width: 100%;
}

.isMobile .NavList {
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .Nav {
    display: block;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
