.Header {
  height: 4rem;
  padding: 10px;
  padding: 1rem;
}

.Inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: auto;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .Inner {
    width: 83%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
