.Companies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .Companies {
    flex-direction: row;
    width: 80%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
